# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Django
db.sqlite3
*.sqlite3
media/

# Static files (optional if you collectstatic)
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db